$ccc: #ccc;
$six: #666;
$textCo: #666;
$borTitBg:rgb(250, 250, 250);
$subt: #999;
$main: #333;
$wri: #ff3b30;
$pri: #1677ff;

$fff: #fff;
$f4: #f4f4f4;
$f5: #f5f5f5;
$fa:#FAFAFA;
$borderCo: #EBEEF5;
// $borderCo:#eee;

$f8: #f8f8f8;
$priLight: #F0F7FF;
